*{
    font-family: Apple Chancery, cursive, sans-serif; 
}
#header-title{
    font-family: Apple Chancery, cursive, sans-serif; 
    text-transform: uppercase;
}
table{
    /* border: 1px dashed red; */
    margin-bottom: 4px;
    font-size: large;
}
body{
    background-color: aliceblue;
}
.text {
    max-width: 70%;
    min-width: none;
    max-height: auto;
    border: 1px dotted antiquewhite;
    border-radius: 5px;
    margin:auto;
    margin-top: 50px;
    display:flex;
}
.text p, #table1 td img{
    max-width: fit-content;
    border: 1px dotted rgb(173, 82, 82);
    transition: transform .2s;
    box-shadow: 10px -10px 5px rgb(231, 216, 197);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    z-index: 1;
    background-color: antiquewhite;
    /* transform: skew(5deg, 5deg); */
}
.text p:hover, #table1 td img:hover{
    transform: scale(1.1);
    z-index: 1;
}
.text :nth-child(2){
    width:auto;
    height:210px;
    margin-left: -10px;
    margin-top: 10px;
    transition: transform .2s;
    border-radius: 5px;
    object-fit: cover;
    background-position: center center;
}
.text :nth-child(2):hover{
    transform: scale(1.1);
    z-index: 1;
}
:root{
    --col6--width: ((960/2)-10)px;
}
.col6{
    width: var(--col6--width);
    padding: 5px;
    justify-content: center;
}
#fieldset1{
    width: 950px; 
    margin-left: 12%; 
    display: flex; 
    justify-content: space-around;
}
.foto-animation img{
    width: 30%;
    display: table-row-group;
    justify-content: center;
    border-radius: 15px;
    animation-name: imgAnim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@keyframes imgAnim{
    0% {margin-left: 0%;}
    25%  {margin-left: 15%;}
    50%   {margin-left: 30%;}
    75%  {margin-left: 45%;}
    100% {margin-left: 60%;}
}